.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.item-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.cart-container, .shipping-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
}

.cart-container {
  flex: 3 1 auto;

  input[type="checkbox"] + * {
    padding-inline-start: 1rem;
  }
}

.shipping-container {
  flex: 1 1 auto;
  background-color: white;
  padding: 2rem;
}

.flex-aic {
  display: flex;
  align-items: center;
}

.change-button {
  flex: 0.5 1 0;
  margin-inline-start: auto;
  color: blue;
  text-decoration: underline;
}

.buy-button {
  color: white;
  background-color: red;
  flex: 1 1 auto;
  font-weight: bold;
  transition-duration: 0.25s;
}

.buy-button:hover {
  background-color: #ff0000aa;
}