.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);

}

.inner{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 90%;

}

.logo{
    display: flex;
    align-items: center;
    margin-right: 12px;
    &:hover{
        cursor: pointer;
    }
}
.search{
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    width: 60%;
    height: 45px;
    padding-left: 16px;
    border:#dddde3 1px solid;
    border-radius: 92px;

    input{
        flex: 1;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        color: #000;
        border: none;
        height: 100%;
        background-color: transparent;
        outline: none;
    }
    &:focus-within{
        border: 1px solid var(--primary);
    }
}

.actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12px;
    font-size: 1.8rem ;
    height: 100%;

    .user{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 80%;
        padding: 0 12px;
        border-radius: 12px;
        color: #000;
        &:hover{
            cursor: pointer;
            background-color: aqua;
        }
    }
    
    .cart{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin-left: 2px;
        height: 80%;
        padding: 0 12px;
        border-radius: 12px;
        color: #000;
        &:hover{
            cursor: pointer;
            background-color: aqua;
        }
    }
}


.search-btn{
    width: 50px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0 18px 18px 0;

    &:hover{
        cursor: pointer;
        background-color: #dddde3;
    }

}
